.form {
  padding: 16px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto 32px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
}

.label {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  margin-bottom: 16px;
}

.input {
  display: flex;
  width: 100%;
  margin: 0;
}

.button {
  width: 140px;
  height: 32px;
  border-radius: 5px;
  border: none;
  background-color: rgb(79, 168, 79);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &:disabled {
    background-color: grey;
  }
}
